.banner {
  position: relative;
  /* background-image: url("../splash-image.png"); */
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  background-position: center;
  padding: 3vmin;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.search {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  padding: 2vw;
  overflow: scroll;
}

.search-body {
  max-height: 100%;
  max-width: 100%;
  text-align: left;
}

.search-body h1 {
  font-size: 3.3vh;
  font-weight: bold;
}

.search-body h3 {
  font-size: 1.3vh;
  text-transform: uppercase;
  font-weight: bold;
}

.search-body button {
  line-height: 1;
}

.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 300px;
  transition: none;
}